doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Menú Administrador
        link(rel="stylesheet", href="/static/css/styles.css")
        script(src="/static/scripts/admin.js", type="text/javascript") 
        script(src="/static/scripts/order.js", type="text/javascript") 
        script(src='/static/scripts/handleCategories.js', type="text/javascript", defer)
    body 
        nav(class="navbar navbar-expand-lg navbar-light")
            div(class="container-fluid")
                ul(class="navbar-nav nav-menu")
                    li(class="nav-item")
                        a(href="#add-product") Agregar Productos
                    li(class="nav-item")
                        a(href="#categories") Filtros por Categorías
                    li(class="nav-item")
                        a(href="#delete-product") Eliminar Productos     
                    li(class="nav-item")
                        a(href="#user-list") Usuarios
                    li(class="nav-item")
                        a(href="#orders") Órdenes
                    li(class="nav-item")
                        a(href="/chat") Chat

        //Sección para agregar productos
        section#add-product
            h2 Agregar productos 
            form(method="post", action=`/products?userId=${userId}`, class="form-container")
                
                    div(class="form-group")
                        label(for="category") Categoría: 
                        input(type="text" name="category")
                    
                    div(class="form-group")
                        label(for="name") Nombre: 
                        input(type="text" name="name")
                
                    div(class="form-group") 
                        label(for="price") Precio: 
                        input(type="number" name="price")
                    
                    div(class="form-group") 
                        label(for="stock") Stock: 
                        input(type="number" name="stock")
                    
                    div(class="form-group") 
                        label(for="description") Descripción: 
                        input(type="text" name="description")
                
                    button(type="submit") Agregar producto

        //Sección para ver y eliminar productos
        section#categories
            h2 Filtros por categorias
            ul#categorias
                each category in categories
                    li
                        button(onclick=`setCategory('${category}')`, data-cat=category) #{category}
                if categories.length > 0
                    li
                        button#clean(onclick='setCategory()') Limpiar filtros
            
            if products.length == 0
                p(style="color:red;align-text:center;font-size:large;font-weight:bold") Ningun producto coincide con su busqueda
        section#delete-product
            h2 Eliminar productos
             div(class="flex-container product-list", id="container")
                 each product in products
                    // funcion js para eliminar productos 
                    div(class="product-card")
                        img(class="product-image",src="/static/images/" + product.name + ".jpg", alt=product.name)
                        div(class="product-detail")
                            h2= product.name
                            p Decripción: #{product.description}
                            p Categoría: #{product.category}
                            p Precio: $#{product.price}
                            button(type="button", onclick=`eliminarProducto('${product._id}')`) Eliminar producto
                        
        //Sección para ver usuarios
        section#user-list
            h2 Lista de usuarios
            table 
                thead 
                    tr 
                        th ID
                        th Email 
                        th Rol
                tbody 
                    each user in users
                        tr 
                            td= user._id 
                            td= user.email 
                            td= user.rol 
                    

        //Sección para ver órdenes
        section#orders
            h2 Lista de órdenes
            table
                thead 
                    tr
                        th Orden ID
                        th Fecha
                        th Monto
                        th Estado
                      
                tbody             
                    each order in orders
                        - date = order.date.toLocaleString();
                        tr
                            td= order._id
                            td= date
                            td= order.payment
                            td  
                                label(id=`label-${order._id}`)= `${order.status}`                               
                                select(id=`select-${order._id}`)
                                    option(value="procesando", selected=order.status === 'procesando') Procesando
                                    option(value="enviado", selected=order.status === 'enviado') Enviado
                                    option(value="cancelado", selected=order.status === 'cancelado') Cancelado
                                button(onclick=`changeStatus('${order._id}')`) Cambiar Estado