doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Comercio Mayorista
      script(src='/static/scripts/products.js', type="text/javascript")
   body 
     h1 Catálogo de productos
      ul(id="product_list")
         each product in products
               li(data-id=product._id)
                  h2= product.name
                  p Categoría: #{product.category}
                  p Precio: $#{product.price}
                  
                  if isLoggedIn
                     p(class="item-qty")
                     button(type="button", onclick=`addToCart('${product._id}')`) Agregar al carrito
                     button(type="button", onclick=`removeFromCart('${product._id}')`, class="removeBtn", disabled) Quitar
                  else
                     button(onclick="window.location.href='/login'") Iniciar sesión para comprar

